@import "tailwindcss";

@theme {
  --font-hachi: var(--font-hachi-maru);
  --color-brand-bg: #fcf486;
  --color-brand-text: #000000;
  --color-brand-accent: #2d8988;
  --color-brand-sub: #d7888a;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-hachi), system-ui, sans-serif;
}
